$white: #fff;
$black: #000;

// GREY -------------------------------------------------------
$grey-10: #F9F9F9;
$grey-20: #EBEBEB;
$grey-30: #CBCBCB;
$grey-40: #999999;
$grey-50: #686868;
$grey-60: #474747;
$grey-70: #474747;
$grey-80: #474747;
$grey-90: #474747;

// LIGHT MODE -------------------------------------------------------
$light-first: #FFBA38;
$light-second: #5200C6;

// DARK MODE -------------------------------------------------------
$dark-first: #FF9933;
$dark-second: #333366;
