// STYLES ------------------------------------------------
.txt-light {
  font-weight: 300;
}

.txt-regular {
  font-weight: 400;
}

.txt-semibold {
  font-weight: 600;
}

.txt-bold {
  font-weight: 700;
}

.txt-extrabold {
  font-weight: 800;
}

.txt-italic {
  font-style: italic;
}

.txt-uppercase {
  text-transform: uppercase;
}

.txt-underline {
  text-decoration: underline;
}

// SIZES -------------------------------------------------
.txt-8 {
  font-size: rem(8);
}

.txt-9 {
  font-size: rem(9);
}

.txt-10 {
  font-size: rem(10);
}

.txt-11 {
  font-size: rem(11);
}

.txt-12 {
  font-size: rem(12);
}

.txt-13 {
  font-size: rem(13);
}

.txt-14 {
  font-size: rem(14);
}

.txt-15 {
  font-size: rem(15);
}

.txt-16 {
  font-size: rem(16);
}

.txt-17 {
  font-size: rem(17);
}

.txt-18 {
  font-size: rem(18);
}

.txt-19 {
  font-size: rem(19);
}

.txt-20 {
  font-size: rem(20);
}

.txt-21 {
  font-size: rem(21);
}

.txt-22 {
  font-size: rem(22);
}

.txt-23 {
  font-size: rem(23);
}

.txt-24 {
  font-size: rem(24);
}

.txt-25 {
  font-size: rem(25);
}

.txt-26 {
  font-size: rem(26);
}

.txt-27 {
  font-size: rem(27);
}

.txt-28 {
  font-size: rem(28);
}

.txt-29 {
  font-size: rem(29);
}

.txt-30 {
  font-size: rem(30);
}
